<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116072978940-t4kcr9js4kign2dp5n469fngg1vr6m2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116072978940-t4kcr9js4kign2dp5n469fngg1vr6m2r</string>
	<key>API_KEY</key>
	<string>AIzaSyBHyIEw0K1hcpSenYk9YrkjW9yIINmHYCA</string>
	<key>GCM_SENDER_ID</key>
	<string>116072978940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>testbase-cf69f</string>
	<key>STORAGE_BUCKET</key>
	<string>testbase-cf69f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116072978940:ios:0fc959b59eb5a36b587a79</string>
</dict>
</plist>